@model Question
@{
    ViewData["Title"] = Model.Title;
}
<h1>@ViewData["Title"]</h1>
<h2>ID: @Model.ID</h2>
<h2>Message: @Model.Message</h2>
<input type="button" value="Delete DIS" onclick="location.href='@Url.Action("Delete", "Questions",new { id = Model.ID })'" />